<div class="container">
  <div class="row">
    <div class="top-wrapper">
        <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="text-center">Namikki</h1>
        <p class="text-center">伊良湖赤羽根エリアのサーファーのためのサーフィン日記共有サービスです</p>
        <%= link_to 'Namikkiを投稿する', new_board_path %>
    <p>テスト</p>
    <script type="text/javascript">
      $(document).ready(function() {
        $("p").text("成功！！");
      });
    </script>
          </div>
        </div>
      </div>
    </div>
