<h1>お問い合わせいただきありがとうございます。</h1>
<p>Namikki運営事務局です。</p>
<p>下記の内容でお問い合わせを受け付けました。</p>
<p>==================================</p>
<p>メールアドレス： <%= @email %> </p>
<p>タイトル： <%= @title %> </p> 
<p>メッセージ本文：</p>
<p> <%= @body %> </p>
<p>===================================</p>
<p>Nammiki運営事務局</p>
