<p><%= @user.name %>様</p>
<p>いつもご利用いただきありがとうございます。</p>
<p>Namikki運営事務局です。</p>

<p>===============================================</p>


<p>パスワード再発行のご依頼を受け付けました。</p>
<p>こちらのリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>もしパスワード再発行にお心当たりがない場合はこちらのメールは無視して下さい。</p>

<p>Namikki運営事務局</p>
