<footer id="footer">
    <div class="row">
      <div class='footer-table'>
        <div>
          <%= link_to 'プライバシーポリシー', privacy_path %>
        </div>
        <div>
          <%= link_to '利用規約', terms_path %>
        </div>
        <div>
          <%= link_to 'お問い合わせ', new_contact_path %>
        </div>
    <div class="col-sm-6 col-12">
      <div class="copy-right">
        <p>Copyright © 2021. Namikki</p>
      </div>
    </div>
  </div>
</footer>
