<footer id="footer">
    <div class="row">
      <div class='footer-table'>
        <div>
          <%= link_to 'プライバシーポリシー', privacy_path %>
        </div>
        <div>
          <%= link_to '利用規約', terms_path %>
        </div>
        <div>
          <%= link_to 'お問い合わせ', new_contact_path %>
        </div>
    <div class="col-sm-6 col-12">
      <div class="copy-right">
        <p>Copyright © 2021. Namikki</p>
      </div>
      <div class="twitter-bottom">
      <%= link_to "https://twitter.com/share?url=https://www.namikki.jp/&tex=伊良湖エリアのサーフィン日記共有サービスです。&hashtags=伊良湖,サーフィン,海,日記,Namikki", title: 'Twitter', target: '_blank', rel: 'noopener noreferrer', class: 'nav-link' do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      </div>
    </div>
  </div>
</footer>
