<div class="caption">
   <% if current_user.favorites.find_by(board_id: board.id) %>
     <%= render 'unfavorite', board: board %>
   <% else %>
     <%= render 'favorite', board: board %>
   <% end %>
     <%= link_to board_path(board) do %>
       <i class="far fa-comment-dots"></i>
     <% end %>
  <%= render 'crud_menus', board: board if current_user.own?(board) %>
</div>
