<div class="container">
  <div class="row">
    <div class="top-wrapper">
        <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="title">Namikki</h1>
        <p class="text-center">伊良湖赤羽根エリアのサーファーのためのサーフィン日記共有サービスです</p>
        <%= render 'boards/form', board: @board %>
        <%= link_to 'まずプロフィールを登録する', edit_profile_path, class: 'board-link', style: 'margin: 10% 0 20% 0' %>
      </div>
    </div>
  </div>
</div>
