//  コメントページ
.comment-layout {
  margin-bottom: 10%;
  text-align: center;
}

.board-body {
  font-size: 120%;
  font-weight: bold;
  color: #092237;
}

#js-new-comment-body {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.comment-css {
  color: #092237;
  margin-left: 10%;
  margin-right: 10%;
  text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
}

.comment-time {
  float: right;
  margin-right: 10%;
  text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
}

.comment-name {
  font-size: 120%;
  margin-left: 10%;
  margin-top: 3%;
}

td {
  position: relative;
}

.js-delete-comment-button {
  position: absolute;
  top: 20%;
  left: 82%;
}

// Namikkiページ

.board-name {
  font-size: 20px;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  background-color: #e8ebe7; 
}

.card-body {
  font-size: 15px;
  font-weight: bold;
  color: #092237;
}

.card-comment {
  font-size: 15px;
  font-weight: bold;
  color: #4977bc;
}

.caption {
  text-align: right;
}

.condition {
  text-align: right;
}

.board-delete {
  text-align: right;
}

.card-delete-btn {
  text-align: right;
}

// いいねボタン
.fav-btn {
  margin-right: 5%;
}

// 投稿削除ボタン
.crud-menu-btn {
  float: left;
}
