.avatar-img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.weather-img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 60px;  /* 縦横を同じ値にする */
  height: 60px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.description-img { 
   position: fixed;
   left: 0;
   top: 0;
   width: auto; 
   min-width: 100%; 
   height: auto;
   min-height: 100%;
   z-index: -1;
}

.description-img img {
  position: relative;
  width: 100%;
  height: auto;
}

.description-img img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: auto;
  background: inherit;
  filter: brightness(75%);
  /* 最背面へ */
  z-index: -1;
}
