.reason p {
  font-weight: bold;
  color: #092237;
}

.reason {
  font-weight: bold;
  color: #6a4928;
  margin-bottom: 10px;
}

.mypage-layout {
  margin-bottom: 30%;
  text-align: center;
}

.history {
  font-weight: bold;
  color: #092237;
}

.profile-link {
  margin-top: 20%;
  text-align: center;
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: 1px;
  background: #c9be72;
  color: #092237;
  box-shadow: 0px 2px 4px #a69940;
  transition: box-shadow .3s;
  border-radius: 25px;
}
