.terms-container {
  padding: 0 5%;
}

.wrap-terms {
  border-radius: 15px;
  background: #76a1b8;
  border: 3px solid #c9be72;
  padding: 3%;
  margin-top: 20%;
  margin-bottom: 10%
}

.terms {
  border-radius: 15px;
  background: #76a1b8;
  border: 5px solid #c9be72;
  padding: 3%;
}
