.terms-container {
  padding: 0 10%;
}

.wrap-terms {
  border-radius: 15px;
  background: #c9be72;
  
  border: 3px solid #c9be72;
  padding: 20px;
}

.terms {
  border-radius: 15px;
  margin: 20px 0;
  background: #c9be72;
  border: 5px solid #c9be72;
  padding: 20px;
}
