html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1.title {
  color: #092237;
  text-align: center;
  font-family: 'Tsukushi B Round Gothic';
  font-weight: bold;
  margin-bottom: 20%;
}

h1 {
  color: #092237;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

p {
  color: #092237;
  font-family: Klee;
}

p.overview {
  margin-bottom: 20%;
}

.top-layout {
  text-align: center;
}

.board-link {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: 1px;
  background: #c9be72;
  color: #092237;
  box-shadow: 0px 2px 4px #a69940;
  transition: box-shadow .3s;
  border-radius: 25px;
  margin-bottom: 10%;
}
 
// form
textarea.form-control {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100px;
  resize:none;
}

.form-group {
  text-align: center;
}

.actions {
  text-align: center;
  margin-bottom: 20%;
}

.btn-primary {
  display: inline-block;
  padding: 10px 24px;
  text-decoration: none;
  border: 1px;
  background: #c9be72;
  color: #092237;
  box-shadow: 0px 2px 4px #a69940;
  transition: box-shadow .3s;
  border-radius: 10px;
  margin-bottom: 10%;
  font-family: Klee;
  text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
  margin-top: 5%;
}

a {
  font-family: Klee;
  text-decoration: none; 
  color: #092237;
  text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
}

.pwreset-link {
  margin-bottom: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.signup-link {
  margin-bottom: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-link {
  margin-bottom: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input[type="password"] {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input[type="email"] {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input[type="file"] {
  margin-bottom: 5%; 
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

select {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

// flash-messages
#flash-message {
  position: absolute;
  left: 50%;
  top: 3%;
  font-size: 15px;
  z-index: 2;
}

// error-messages
.error-message {
  font-size: 10px;
}

// レイアウト
.container {
 position: relative;
 padding-top: 50px;
}

// header
.nav-link {
  color: #4977bc; 
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar {
 position: fixed;
 z-index: 1;
 width: 100%;
}

.container-fluid {
  display: flex;
}
// 天気予報
.list {
  font-weight: bold;
  color: #092237;
  text-shadow: 0 2px 2px #666;
  font-size: 95%;
}

.list-feelslike {
  font-weight: bold;
  color: #092237;
  text-shadow: 0 2px 2px #666;
  margin-bottom: 70%;
}

// footer
footer {
  margin-left: 10%;
}

.footer-table {
  position: relative;
  text-decoration:none; 
  font-weight: bold;
  color: #092237;
  font-size: 70%;
  margin-left: 10%;
}

.footer-link {
  margin-bottom: 3%;
  font-size: 120%;
}

.copy-right {
  text-decoration: none; 
  color: #092237;
  font-size: 120%;
  text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;
}

.twitter-button {
  position: absolute;
  font-size: 25px;
  color: #4977bc;
  margin-bottom: 30%;
  top: 30%;
  left: 50%;
}
